/*------------------------------------*\
    Bxslider
\*------------------------------------*/

.device-slider {
    list-style: none;
}

.bx-prev,
.bx-next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 60px;
    overflow: hidden;
    text-indent: -1000px;
    background-image: url(../img/arrows-sprite.svg);
    background-size: 180px;

    @include breakpoint(bp2) {
        width: 20px;
        height: 40px;
        background-size: 120px;
    }
}

.bx-prev {
    left: 0;

    @include breakpoint(bp1) {
        left: 2rem;
    }

    @include breakpoint(bp2) {
        left: 1rem;
    }

    .section--myt & {
        background-position: 0 0;
    }

    .section--psc & {
        background-position: -60px 0;

        @include breakpoint(bp2) {
            background-position: -40px 0;
        }
    }

    .section--qfm & {
        background-position: -120px 0;

        @include breakpoint(bp2) {
            background-position: -80px 0;
        }
    }
}

.bx-next {
    right: 0;

    @include breakpoint(bp1) {
        right: 2rem;
    }

    @include breakpoint(bp2) {
        right: 1rem;
    }

    .section--myt & {
        background-position: -30px 0;

        @include breakpoint(bp2) {
            background-position: -20px 0;
        }
    }

    .section--psc & {
        background-position: -90px 0;

        @include breakpoint(bp2) {
            background-position: -60px 0;
        }
    }

    .section--qfm & {
        background-position: -150px 0;

        @include breakpoint(bp2) {
            background-position: -100px 0;
        }
    }
}
