/*------------------------------------*\
    Devices
\*------------------------------------*/

.device {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-size: 326px;

    @media (max-width: 480px) {
        background-size: 230px;
    }
}

.device--iphone {
    width: 326px;
    height: 620px;
    background-image: url(../img/iphone.svg);

    @media (max-width: 480px) {
        width: 230px;
        height: 439px;
    }
}

.device--wp {

}

.device--ipad {

}

.device__content {
    position: absolute;
    z-index: 2;
}

.device__content--iphone {
    top: 100px;
    left: 28px;
    width: 274px;
    height: 485px;

    @media (max-width: 480px) {
        top: 71px;
        left: 20px;
        width: 193px;
        height: 342px;
    }
}

.device__content--android {
    top: 57px;
    left: 18px;
    width: 289px;
    height: 516px;

    @media (max-width: 480px) {
        top: 40px;
        left: 12px;
        width: 205px;
        height: 365px;
    }
}
