/*------------------------------------*\
    Devices
\*------------------------------------*/

.device {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.device--iphone {
    width: 325px;
    height: 620px;
    background-image: url(../img/iphone.svg);
    background-size: 325px;

    @media (max-width: 480px) {
        width: 230px;
        height: 439px;
        background-size: 230px;
    }
}

.device--android {

}

.device--wp {

}

.device--ipad {

}

.device__content {
    position: absolute;
    z-index: 2;
}

.device__content--iphone {
    top: 100px;
    left: 28px;
    width: 273px;
    height: 485px;

    @media (max-width: 480px) {
        top: 71px;
        left: 19px;
        width: 194px;
        height: 343px;
    }
}
