/*------------------------------------*\
    Footer
\*------------------------------------*/

.section--footer {
    position: relative;
    padding-bottom: 20rem;
    background-color: #fbfbfb;

    @include breakpoint(bp2) {
        padding-bottom: 12rem;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        border-radius: 50%;
    }

    &:before {
        margin-left: -1.4rem;
        bottom: 10.4rem;
        width: 2.8rem;
        height: 2.8rem;
        background-color: #fff;
        border: 1px solid #e1e1e1;

        @include breakpoint(bp2) {
            bottom: 6.4rem;
        }
    }

    &:after {
        margin-left: -.8rem;
        bottom: 11rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: #e1e1e1;

        @include breakpoint(bp2) {
            bottom: 7rem;
        }
    }
}

.site-nav--footer {
    > li {
        @include breakpoint(bp1) {
            width: 48%;
        }
    }
}

.site-address {
    margin-bottom: 2rem;
    text-align: center;
    font-style: normal;
}


.developed-by {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;

    > a {
        display: inline-block;
        color: $blue;
        line-height: 1.2;
        transition: color .2s ease-in,border .2s ease-in;

        &:hover, &:focus {
            color: #000;
        }
    }
}
