/*------------------------------------*\
    Header
\*------------------------------------*/

.site-logo {
    display: block;
    width: 93px;
    height: 93px;
    margin: 0 auto 2.5rem;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #046380;
}

.site-headline {
    max-width: 590px;
    margin: 0 auto 4.5rem;

    > span {
        position: relative;
        z-index: -1;
        display: inline-block;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        padding: .8rem 2rem 1.2rem 1.5rem;
        white-space: nowrap;
        background-image: url(../img/blot.jpg);
        background-repeat: no-repeat;
        background-size: contain;

        @include breakpoint(retina) {
            background-image: url(../img/blot@2x.jpg);
        }
    }
}

.site-nav--header {
    > li {
        @include breakpoint(bp1) {
            width: 30%;
        }
    }
}
