/*------------------------------------*\
    Lists
\*------------------------------------*/

.horizontal-list {
    list-style: none;

    > li {
        display: inline-block;
        margin-right: -3px;
    }

    > li:last-child {
        margin-right: 0;
    }
}

.clients-list {
    text-align: center;
    margin-bottom: -2rem;

    > li,
    > li:last-child {
        margin-right: 1.5rem;
        margin-bottom: 2rem;
        margin-left: 1.5rem;
    }
}

.switcher-list {
    margin-bottom: 4.5rem;
    text-align: center;

    > li {
        width: 100%;
        max-width: 172px;

        @include breakpoint(bp1) {
            width: 50%;
        }
    }
}
