/*------------------------------------*\
    Sections
\*------------------------------------*/

.section {
    border-bottom: 1px solid #dadada;
}

.section--standard {
    padding-top: 10rem;
    padding-right: 2rem;
    padding-bottom: 10rem;
    padding-left: 2rem;

    @include breakpoint(bp2) {
        padding-top: 6rem;
        padding-right: 1rem;
        padding-bottom: 6rem;
        padding-left: 1rem;
    }
}

.section--slider {
    padding-top: 10rem;
    background-position: center bottom;
    background-repeat: repeat-x;

    @include breakpoint(bp2) {
        padding-top: 6rem;
    }
}

.section--myt {
    background-color: #fffefb;
    background-image: url(../../img/myt-bg.jpg);

    @include breakpoint(retina) {
        background-image: url(../../img/myt-bg@2x.jpg);
        background-size: 50% 50%;
    }
}
